{% extends 'layout/layout.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block description %}Développement Web - {{ article.title }} - {{ article.content }}{% endblock %}


{% block body  %}

<main id="article" class="">

  <!-- Article to Read -->
  <article>
    <h1 class="text-4xl text-black font-semibold mb-2 leading-tight">{{article.title}}</h1>
    <!-- Article Infos -->
    <p class="text-lg text-gray-500">Posté le {{ date(article.created_date)|date('d M Y') }} à {{ date(article.created_date)|date('H:i') }}</p>
    <div class="w-16 h-px bg-black mb-6"></div>

    <!-- Article Content -->
    <p class="text-lg text-black leading-max text-justify">{{ article.content }}</p>
  </article>


  <!-- Comment Section -->
  <section class="my-8">
    <h2><i class="fa fa-comments-o" aria-hidden="true"></i> Les Commentaires</h2>

    <!-- Add Comment Form -->
    <form id="comment" method="post" action="{{ url('comment!create', {'id': article.id}) }}" >

      <fieldset>
        <legend><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i> Ajouter un commentaire</legend>

        <ul>
          <li>
            <!-- Comment Content Field -->
            <textarea class="w-full placeholder-gray-600 focus:placeholder-gray-500 p-5 rounded-sm" name="content" rows="3" placeholder="Insérez votre commentaire ici"></textarea>
          </li>

          <li class="btn-group mt-5">
            <!-- Controls Buttons -->
            <a class=" p-2 bg-blue-500 text-white rounded-lg m-2" href="{{ url('home') }}">Quitter</a>
            <input class="p-2 text-blue-500 rounded-lg border-solid border-2 border-blue-500 bg-transparent m-2 cursor-pointer" type="reset" value="Réinitialiser">
            <input class="p-2 text-blue-500 bg-transparent m-2 cursor-pointer" type="submit" value="Commenter">
          </li>
        </ul>

        <!-- Comment Date Field -->
        <input name="date" type="hidden" value="{{ date()|date('Y-m-d H:i:s') }}">

      </fieldset>
    </form>

    <!-- Comments list -->
    <ul>
      <!-- check if it's not null -->
      {% if comments|length != 0 %}
          <!-- Comments Foreach -->
          {% for comment in comments %}
          

          <li class="comment rounded-lg hover:bg-blue-200 p-5 border-solid border-blue-200 border text-gray-600 mt-5">
            <div class="comment-header flex flex-row">  
              <div class="comment-avatar bg-blue-300 rounded-full h-10 w-10 flex justify-around items-center ">
                  <i class="fas fa-user text-blue-700 "></i>
              </div>
              <div class="comment-author ml-2 -mt-1 "> 
                <h3 class="text-xl font-semibold"> {{ comment.user }}</h3>
                <p class="text-xs font-normal"> 
                   {{ date(comment.created_date)|date('d M Y') }} 
                </p>
              </div>
            </div>
            <div class="comment-content mt-3">
               <!-- Comment Content -->
                {{ comment.content }}
            </div>
          </li>

          {% endfor %}
      {% else %}
        Soyez le premier à commenter cet article !
      {% endif %}
    </ul>
  </section>
  
</main>

{% endblock %}