{% extends 'layout/layout.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block description %}Développement Web - {{ article.title }} - {{ article.content }}{% endblock %}


{% block body  %}

<main id="article" class="">

  <!-- Article to Read -->
  <article>
    <h1 class="text-4xl text-gray-300 font-semibold mb-2 leading-tight">{{article.title}}</h1>
    <!-- Article Infos -->
    <p class="text-sm text-gray-600 ">Publié le {{ date(article.created_date)|date('d M Y',"Europe/Paris") }} 
        à {{ date(article.created_date)|date('H:i') }} par <span class="text-gray-500 capitalize">{{article.login}}</span>  
    </p>
    <div class="w-16 h-px bg-gray-300 mb-6"></div>

    <!-- Article Content -->
    <p class="text-lg text-gray-400 leading-max text-justify">{{ article.content }}</p>
  </article>

  <!-- Comment Section -->
  <section class="my-8">
    <h2><i class="fa fa-comments-o" aria-hidden="true"></i> Les Commentaires</h2>

    <!-- Add Comment Form -->
    {% if (session.user|length != 0) %}
        <form id="editorSection" method="post" action="{{ url('comment!create', {'id': article.id}) }}" >

          <fieldset>
            <legend class="mb-4"><i class="fa fa-comment-o fa-lg " aria-hidden="true"></i> Ajouter un commentaire</legend>

            <ul>
              <li>
                <!-- Comment Content Field -->
                <textarea class="w-full placeholder-gray-600 focus:placeholder-gray-500 p-5 rounded-sm text-gray-800" name="content" rows="3" placeholder="Insérez votre commentaire ici" required></textarea>
              </li>

              <li class="btn-group mt-5">
                <!-- Controls Buttons -->
                <a class=" p-2 bg-blue-500 text-white rounded-lg m-2" href="{{ url('home') }}">Quitter</a>
                <input class="p-2 text-blue-500 rounded-lg border-solid border-2 border-blue-500 bg-transparent m-2 cursor-pointer" type="reset" value="Réinitialiser">
                <input class="p-2 text-blue-500 bg-transparent m-2 cursor-pointer" type="submit" value="Commenter">
              </li>
            </ul>

            <!-- Comment Date Field -->
            <input name="date" type="hidden" value="{{ date()|date('Y-m-d H:i:s') }}">

          </fieldset>
        </form>
    {% else %}
        <div class="bg-blue-300 p-5">
          Connecter vous pour ecrire un commentaire
        </div>
    {% endif  %}

    <!-- Comments list -->
    <ul>
      <!-- check if it's not null -->
      {% if comments|length != 0 %}
          <!-- Comments Foreach -->
          {% for comment in comments %}
            {% if comment.publish != 0 %}
              <li class="comment rounded-lg hover:bg-blue-200 p-5 border-solid border-blue-200 border text-gray-600 mt-5">
                <div class="flex justify-between">
                  <div class="comment-header flex flex-row">  
                      <div class="comment-avatar bg-blue-300 rounded-full h-10 w-10 flex justify-around items-center ">
                          <i class="fas fa-user text-blue-700 "></i>
                      </div>
                      <div class="comment-author ml-2 -mt-1 "> 
                        <h3 class="text-xl font-semibold capitalize "> {{ comment.user }}</h3>
                        <p class="text-xs font-normal"> 
                          {{ date(comment.created_date)|date('d M Y') }} 
                        </p>
                      </div>
                  </div>
                  <div class="icone-action">
                    {% if (session.user|length != 0) %}
                      {% if (session.user.login == comment.user) %}
                        <a href="{{ url('comment!update', {'id': comment.id,'article_id':article.id}) }}" class="mr-3 text-sm" title="Modifier"><i class="fas fa-pen text-orange-500" ></i></a>

                          <a href="{{ url('comment!delete', {'id': comment.id,'article_id':article.id}) }}" class="text-sm " title="Supprimer"><i class="fas fa-trash text-red-500"></i></a>
                      {% endif%}
                    {% endif %} 
                  </div>
                </div>
                <div class="comment-content mt-3">
                  <!-- Comment Content -->
                    {{ comment.content }}
                </div>
              </li>
            {% endif %}
          {% endfor %}
      {% else %}
        Soyez le premier à commenter cet article !
      {% endif %}
    </ul>
  </section>
  
</main>

{% endblock %}