  
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"               content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"  content="IE=edge">

    <title>{% block title %}{{ block('subtitle') }} - BLOG MVC{% endblock %}</title>

    <link rel="canonical" href="{% block canonical %}https://php-mvc.philippebeck.net{% endblock %}">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">

    <meta name="description"                content="{{ block('description') }}">
    <meta name="author"                     content="e. Michel">
    <meta name="copyright"                  content="MIT">

    <meta property="og:type"        content="website">
    <meta property="og:title"       content="{{ block('title') }}">
    <meta property="og:url"         content="{{ block('canonical') }}">
    <meta property="og:description" content="{{ block('description') }}">
    <meta property="og:image"       content="{% block image %}https://php-mvc.philippebeck.net/img/bg.jpg{% endblock %}">

    <meta name="twitter:card"           content="summary">
    <meta name="twitter:title"          content="{{ block('title') }}">
    <meta name="twitter:site"           content="{{ block('canonical') }}">
    <meta name="twitter:description"    content="{{ block('description') }}">
    <meta name="twitter:image"          content="{{ block('image') }}">
    <meta name="twitter:creator"        content="@emichel_dev">

    <!-- Styles -->
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css"></link>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"></link>
    
    <!-- emoji css -->
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/base.min.css">
</head>

<body class="bg-gray-200 sm:mx-56 text-gray-800 mx-4 ">

    {{ include('layout/navbar.twig') }}

    {% block body %}{% endblock %}

    {{ include('layout/footer.twig') }}


    <!-- Scripts -->
    <script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor-full.js"></script>
    <script src=" ../js/app.js"></script>


</body>
</html>